@import '../styles/Vars.scss';

.contentContact {
    width: 100%;
    text-align: center;
    position: relative;
}

.contact__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    cursor: pointer;
    margin-top: 100px;
    width: 100%;
  }

  .contact-item{
      display: grid;
      align-items: center;
      justify-self: center;
      width: 80px;
      height: 80px;
      transition: transform 0.5s;      
  }

  .contact-item:hover,
  .contact-item:focus{
    transform : scale(1.25);
    color: $main-color;
  }


  .title{
    width: 80%;
    margin: 0px auto 20px;
    position: relative;
    
  }

  .section-name {
    font-size: 14px;
    font-family: "Open Sans";
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .12em;
    margin-top: 50px;
}

  .contact-icon{
    width: 100%;
  }

  .contact-text{
    width: 100%;
    color: $color-white;
  }

  .contentFooter{
    width: 100%;
    background-color: $main-color;
    text-align: center;
    margin-top: 10%;    
  }

.lineFooter{
    color: $color-primary;
    width: 100%;
    border: 0.3px solid;
}

.textFooter{
    font-family: "Open Sans";
    color: $color-white;
    margin-top: 30px;
    margin-bottom: 30px;
}