@import "../styles/Vars.scss";


.contenedorIntroduction{
    width: 100%;
    text-align: center;
    position: relative;    
}

.backgroundImage {
    width: 100%;
    height: 100vh;
}

.introduccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto;
    
    @media (min-width: 576px) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        // background-color: seagreen;
    }
    @media (min-width: 748px) {    
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
        // background-color: royalblue;
    }
    @media (min-width: 992px) {
        width: 80%;  
        grid-template-columns: repeat(2, 1fr);
        // background-color: rgb(148, 160, 45);
    }        
}

.introduccion__item {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: left;
    color:rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
    padding: 5%;
}

.punto{
    color: $color-primary
}

.name{
    width: 100%;
    
    @media (min-width: 576px) {
        font-size: 30px;
    }

    @media (min-width: 748px) {
        font-size: 25px;
    }

    @media (min-width: 992px) {
        font-size: 22px;
    }
}

.color_font{
    color: $color-primary;
}

.containerLine{
    width: 100%;
}

.line {
    width: 100px;
    height: 2px;
    background: $color-primary;
}

.pr-20{
    padding-right: 20px;
}

.section-name {
    font-size: 14px;
    font-family: "Open Sans";
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .12em;
}
.text-intro{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 1%;

    @media (min-width: 576px) {
        font-size: 20px;
        margin-right: 10px;
    }
}

.sc_rs {
    width: 100%;
    margin-top: 10px;
    line-height: 27px;
    color:$color-white;

    @media (min-width: 576px) {
        font-size: 25px;
        margin-top: 50px;
    }
   
    @media (min-width: 748px) {
        font-size: 25px;
    }

    @media (min-width: 992px) {
        font-size: 18px;
    }
}

.sc_rs a:hover{
    color: $color-primary;
}

.container_btn_intro{
    width: 100%;
}
.btn_intro{
    text-transform: uppercase;
    background-color: $main-color;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color:$color-primary;
    border: 2px solid $color-primary;
    width: 150px;
    height: 50px;
    line-height: 46px;
    letter-spacing: .12em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 40px;

    // @media only screen and (min-width: 576px) {
    //     font-size: 30px;
    //     width: 300px;
    //     height: 90px;
    // }
}


.btn_intro:hover {
    background: $color-primary;
    color: #000;
    transition: .3s ease-out;
  }



.intro-button{
    width: 100%;
    margin-top: 30px;
    color:$color-primary;
}

.mr-btn {
    // font-size: 15px;
    line-height: 24px;
    color:$color-primary;
    display: inline-block;
    cursor: pointer;

    @media (min-width: 576px) {
        font-size: 35px;
    }

    @media (min-width: 748px) {
        font-size: 25px;
    }

    @media (min-width: 992px) {
        font-size: 15px;
    }
}

.btn_animation{
    position: relative;
}

.btn_animation::after {
    position: absolute;
    content: "";
    top: 110%;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-primary;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.btn_animation:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

a {
    color:$color-white;
    text-decoration: none;
    background-color: transparent;
}

.tech__container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    width: 100%;
    
        @media (min-width: 576px) {
            margin-top: 15px;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 768px) {
            margin-top: 15px;
            grid-gap: 1px;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 992px) {
            margin-top: 35px;
            grid-gap: 10px;
            grid-template-columns: repeat(6, 1fr);
        }
}

.tech-carousel{
    display: grid;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.5s;

    @media (min-width: 576px) {
        width: 150px;
        height: 150px;
    }

    @media (min-width: 768px) {
        width: 110px;
        height: 110px;
    }

    @media (min-width: 992px) {
        width: 70px;
        height: 70px;
    }
    
}

.tech-carousel:hover{
    transform : scale(1.25);
}

.title_carousel{
    @media (min-width: 576px) {
        font-size: 19px;
    }

    @media (min-width: 768px) {
        font-size: 17px;
    }

    @media (min-width: 992px) {
       font-size: 15px;
    }
}

.tech-img{
    justify-self: center;
}