@import '../styles/Vars.scss';

.contenedorWorks {
    width: 100%;
    background-color: $main-color;
    position: relative;
    
}

  ::-webkit-scrollbar {
    display: none;
  }

  .carousel__container {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;

    @media (min-width: 360px) {
      grid-template-columns: repeat(1, 1fr);
      width: 93%;
    }

    @media (min-width: 768px) { 
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    @media (min-width: 992px) {
      width: 98%;
      grid-gap: 15px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .title{
    display: flex;
    width: 80%;
    margin: 0px auto 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  .section-name {
    font-size: 30px;
    font-family: $theme-font ;
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .12em;
    margin-top: 50px;
}